:root {
}

body,
html {
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

.theme-doc-breadcrumbs {
  display: none;
}

.cta-button {
  display: block;
  width: fit-content;
  margin: auto;
}
